<%= raw Cartographer::Header.new.to_s %>
<%= raw @map.to_html%>


<div id="header" >truck truck food.</div>
<div id="content">
  <div style="width:20%;float:left;" id="list">
    <% @trucks.each do |truck| %>
        <div class="row">
          <strong><%= add_space(truck[:name]).downcase %></strong><br/>
          <%= truck[:location] %><br/>
        </div>
    <% end %>
  </div>

  <div id="map" >It looks like there are no trucks right now.</div>

</div>